
<!-- Include this script tag or install `@tailwindplus/elements` via npm: -->
<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
<nav class="relative bg-gray-800/50 after:pointer-events-none after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
   
      <!-- Hamburger and X icons -->
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button type="button" command="--toggle" commandfor="mobile-menu" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white focus:outline-2 focus:-outline-offset-1 focus:outline-indigo-500">
          <span class="absolute -inset-0.5"></span>

          <!-- Hamburger Icon -->
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 in-aria-expanded:hidden">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>

          <!-- X Icon -->
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>

      <!-- Buttons at the top -->
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <!-- Waterfall Text -->
        <div class="flex shrink-0 items-center text-white">
            Waterfall
        </div>
        
        <!-- All of the dropdowns -->
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            
            <!-- Dashboard Button -->
            <a href="{{url_for('dashboard.dash')}}" aria-current="page" class="rounded-md bg-[#ff922f] px-3 py-2 text-sm font-medium text-white">Dashboard</a>
            
            <!-- Student Dropdowns -->
            <!-- --------------------------------------------------- -->
            {% if session.role == 'Student' %}

            <!-- Class Manager Dropdown -->
            <el-dropdown class="relative ml-3">
              <button class="relative flex rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
               <span class="absolute -inset-1.5"></span>
                 <div aria-current="page" class="rounded-md bg-blue-600 px-3 py-2 text-sm font-medium text-white">
                   Class Manager
                 </div>
              </button>

              <!-- Dropdown Options -->
              <el-menu anchor="bottom end" popover class="drop">
                <a href="{{url_for('takes.register')}}" class="drop-item">
                 Register for classes
                </a>
                <a href="{{url_for('takes.dropClass')}}" class="drop-item">
                  Drop a Class
                </a>
                <a href="{{url_for('student.getFinalGrades')}}" class="drop-item">
                  View Final Grade
                </a>
                <a href="{{url_for('student.checkCourses')}}" class="drop-item">
                  Course Catalog
                </a>
              </el-menu>
            </el-dropdown>

            <!-- Account Management Dropdown -->
            <el-dropdown class="relative ml-3">
              <button class="relative flex rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
               <span class="absolute -inset-1.5"></span>
                 <div aria-current="page" class="rounded-md bg-blue-600 px-3 py-2 text-sm font-medium text-white">
                   Account Management
                 </div>
              </button>

              <!-- Dropdown Options -->
              <el-menu anchor="bottom end" popover class="drop">
                <a href="{{url_for('advisor.modifyAdvisingRoster')}}" class="drop-item">
                 View your advisors information
                </a>
                <a href="{{url_for('account.account')}}" class="drop-item">
                  Modify account info
                </a>
              </el-menu>
            </el-dropdown>

            <!-- Instructor Dropdowns -->
            <!-- --------------------------------------------------- -->
            {% elif session.role == 'Instructor' %}

            <!-- Class Manager Dropdown -->
            <el-dropdown class="relative ml-3">
              <button class="relative flex rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
               <span class="absolute -inset-1.5"></span>
                 <div aria-current="page" class="rounded-md bg-blue-600 px-3 py-2 text-sm font-medium text-white">
                   Class Manager
                 </div>
              </button>

              <!-- Dropdown Options -->
              <el-menu anchor="bottom end" popover class="drop">
                <a href="" class="drop-item">
                  Edit Grades 
                </a>
                <a href="{{url_for('instructor.edit_prereqs')}}" class="drop-item">
                  Modify Course Prereqs
                </a>
                <a href="" class="drop-item">
                  View Class Rosters
                </a>
                <a href="" class="drop-item">
                  Check Sections
                </a>
              </el-menu>
            </el-dropdown>
            
            <!-- Class Manager Dropdown -->
            <el-dropdown class="relative ml-3">
              <button class="relative flex rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
               <span class="absolute -inset-1.5"></span>
                 <div aria-current="page" class="rounded-md bg-blue-600 px-3 py-2 text-sm font-medium text-white">
                   Student Management
                 </div>
              </button>

              <!-- Dropdown Options -->
              <el-menu anchor="bottom end" popover class="drop">
                <a href="" class="drop-item">
                  Modify Advising Roster
                </a>
              </el-menu>
            </el-dropdown>
            
            <!-- Class Manager Dropdown -->
            <el-dropdown class="relative ml-3">
              <button class="relative flex rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
               <span class="absolute -inset-1.5"></span>
                 <div aria-current="page" class="rounded-md bg-blue-600 px-3 py-2 text-sm font-medium text-white">
                   Account Management
                 </div>
              </button>

              <!-- Dropdown Options -->
              <el-menu anchor="bottom end" popover class="drop">
                <a href="{{url_for('account.account')}}" class="drop-item">
                  Modify account info
                </a>
              </el-menu>
            </el-dropdown>

            <!-- Administrator Dropdowns -->
            <!-- --------------------------------------------------- -->
            {% elif session.role == 'Administrator' %}
            <!-- Admin Actions Dropdown -->
            <el-dropdown class="relative ml-3">
              <button class="relative flex rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
               <span class="absolute -inset-1.5"></span>
                 <div aria-current="page" class="rounded-md bg-blue-600 px-3 py-2 text-sm font-medium text-white">
                   Admin Actions
                 </div>
              </button>

              <!-- Dropdown Options -->
              <el-menu anchor="bottom end" popover class="drop">
                <a href="{{url_for('course.edit_course')}}" class="drop-item">
                 Edit Classes
                </a>
                <a href="{{url_for('section.edit_section')}}" class="drop-item">
                  Edit Sections 
                </a>
                <a href="{{url_for('classroom.edit_classroom')}}" class="drop-item">
                  Edit Classrooms
                </a>
                <a href="{{url_for('department.edit_department')}}" class="drop-item">
                  Edit Departments
                </a>
                <a href="{{url_for('time_slot.edit_time_slot')}}" class="drop-item">
                  Edit Time Slots
                </a>
                <a href="{{url_for('instructor.edit_instructor')}}" class="drop-item">
                  Edit Instructors
                </a>
                <a href="{{url_for('student.edit_student')}}" class="drop-item">
                  Edit Students
                </a>
              </el-menu>
            </el-dropdown>

            <!-- Class Actions Dropdown -->
            <el-dropdown class="relative ml-3">
              <button class="relative flex rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
               <span class="absolute -inset-1.5"></span>
                 <div aria-current="page" class="rounded-md bg-blue-600 px-3 py-2 text-sm font-medium text-white">
                   Class Actions
                 </div>
              </button>

              <!-- Dropdown Options -->
              <el-menu anchor="bottom end" popover class="drop">
                <a href="{{url_for('teaches.edit_teaches')}}" class="drop-item">
                 Modify Class Instructors
                </a>
              </el-menu>
            </el-dropdown>
            
            <!-- Account Management Dropdown -->
            <el-dropdown class="relative ml-3">
              <button class="relative flex rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
               <span class="absolute -inset-1.5"></span>
                 <div aria-current="page" class="rounded-md bg-blue-600 px-3 py-2 text-sm font-medium text-white">
                   Account Management
                 </div>
              </button>

              <!-- Dropdown Options -->
              <el-menu anchor="bottom end" popover class="drop">
                <a href="{{url_for('account.account')}}" class="drop-item">
                 Modify Account Info
                </a>
              </el-menu>
            </el-dropdown>
            {% endif %}

          </div>
        </div>
      </div>

      <!-- Profile Part -->
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

        <!-- Profile Section -->
        <el-dropdown class="relative ml-3">
          <button class="relative flex rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
            <span class="absolute -inset-1.5"></span>
            
            <!-- Profile Picture -->
            <img src="https://picsum.photos/id/237/200/200" alt="" class="size-8 rounded-full bg-gray-800 outline -outline-offset-1 outline-white/10" />
          </button>

          <!-- Profile Dropdown -->
          <el-menu anchor="bottom end" popover class="w-48 origin-top-right rounded-md bg-gray-800 py-1 outline -outline-offset-1 outline-white/10 transition transition-discrete [--anchor-gap:--spacing(2)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
            <!-- Your Profile -->
            <a href="{{url_for('account.account')}}" class="block px-4 py-2 text-sm text-gray-300 focus:bg-white/5 focus:outline-hidden">Your profile</a>
            <!-- Sign Out -->
            <a href="{{url_for('account.logout')}}" class="block px-4 py-2 text-sm text-gray-300 focus:bg-white/5 focus:outline-hidden">Sign out</a>
          </el-menu>
        </el-dropdown>

      </div>
    </div>
  </div>
</nav>
