{% extends '/include/layout.html' %}
{% include '/include/navbar.html' %}
{% block content %}
<div class="h-full w-full bg-blue-200">
    <div class="grid grid-cols-3 gap-4 pl-4 pr-4">
        <!--STUDENT-->
        <!--------------------------------------------------------------------------------------------------------------------------------->
        {% if session.role == 'Student' %}
        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 mb-2 text-center">Class Manager</h1>
            <div class="flex flex-col gap-4">
              <a class="flex flex-col" href="{{url_for('takes.register')}}">
                <button class="btn">Register for classes</button>
              </a>
              <a class="flex flex-col" href="{{url_for('takes.dropClass')}}">
                <button class="btn">Drop a Class</button>
              </a>
              <a class="flex flex-col" href="{{url_for('student.getFinalGrades')}}">
                <button class="btn">View Final Grade</button>
              </a>
              <a class="flex flex-col" href="{{url_for('student.checkCourses')}}">
                <button class="btn">Course Catalog</button>
              </a>
            </div>
        </div>

        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 underline underline-blue-600">Account Management</h1>
            <div class="flex flex-col gap-4">
                <a class="hover:underline" href="{{url_for('advisor.modifyAdvisingRoster')}}">View your advisors information</a>
                <a class="hover:underline" href="{{url_for('account.account')}}">Modify account info</a>
            </div>
        </div>
        <!--INSTRUCTOR-->
        <!--------------------------------------------------------------------------------------------------------------------------------->
        {% elif session.role == 'Instructor' %}
        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 underline underline-blue-600">Class Manager</h1>
            <div class="flex flex-col gap-4">
                <a class="hover:underline" href="">Edit Grades</a>
                <a class="hover:underline" href="{{url_for('instructor.edit_prereqs')}}">Modify Course Prereqs</a>
                <a class="hover:underline">View Class Rosters</a>
                <a class="hover:underline">Check Sections</a>
            </div>
        </div>

        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 underline underline-blue-600">Student Management</h1>
            <div class="flex flex-col gap-4">
                <a class="hover:underline" href="">Modify Advising Roster</a>
            </div>
        </div>

        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 underline underline-blue-600">Account Management</h1>
            <div class="flex flex-col gap-4">
                <a class="hover:underline" href="{{url_for('account.account')}}">Modify account info</a>
            </div>
        </div>
        <!--ADMINISTRATOR-->
        <!--------------------------------------------------------------------------------------------------------------------------------->
        {% elif session.role == 'Administrator' %}
        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 underline underline-blue-600">Administrative Actions</h1>
            <div class="flex flex-col gap-4">
              <a class="hover:underline" href="{{url_for('course.edit_course')}}">Edit Classes</a>
                <a class="hover:underline" href="{{url_for('section.edit_section')}}">Edit Sections</a>
                <a class="hover:underline" href="{{url_for('classroom.edit_classroom')}}">Edit Classrooms</a>
                <a class="hover:underline" href="{{url_for('department.edit_department')}}">Edit Departments</a>
                <a class="hover:underline" href="{{url_for('time_slot.edit_time_slot')}}">Edit Time Slots</a>
                <a class="hover:underline" href="{{url_for('instructor.edit_instructor')}}">Edit Instructors</a>
                <a class="hover:underline" href="{{url_for('student.edit_student')}}">Edit Students</a>
            </div>
        </div>

        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 underline underline-blue-600">Class Actions</h1>
            <div class="flex flex-col gap-4">
                <a class="hover:underline" href="{{url_for('teaches.edit_teaches')}}">Modify Class Instructors</a>
            </div>
        </div>

        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 underline underline-blue-600">Account Management</h1>
            <div class="flex flex-col gap-4">
                <a class="hover:underline" href="{{url_for('account.account')}}">Modify account info</a>
            </div>
        </div>

        <!--SESSION EXPIRED-->
        <!--------------------------------------------------------------------------------------------------------------------------------->
        {% else %}
        <div class="h-full w-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
          <h1 class="font-bold text-2x1">Session expired, try logging back in</h1>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
