{% extends '/include/layout.html' %}
{% include '/include/navbar.html' %}
{% block content %}
<div class="h-full w-full bg-blue-200">
    <div class="grid grid-cols-3 gap-4 pl-4 pr-4">
        <!--STUDENT-->
        <!--------------------------------------------------------------------------------------------------------------------------------->
        {% if session.role == 'Student' %}
        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 mb-2 text-center">Class Manager</h1>
            <div class="flex flex-col gap-4">
              <a class="flex flex-col" href="{{url_for('takes.register')}}">
                <button class="btn">Register for classes</button>
              </a>
              <a class="flex flex-col" href="{{url_for('takes.dropClass')}}">
                <button class="btn">Drop a Class</button>
              </a>
              <a class="flex flex-col" href="{{url_for('student.getFinalGrades')}}">
                <button class="btn">View Final Grade</button>
              </a>
              <a class="flex flex-col" href="{{url_for('student.checkCourses')}}">
                <button class="btn">Course Catalog</button>
              </a>
              <a class="flex flex-col" href="{{url_for('student.getSectionInfo')}}">
                <button class="btn">View Current Schedule</button>
              </a>
            </div>
        </div>

        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 mb-2 text-center">Account Management</h1>
            <div class="flex flex-col gap-4">
                <a class="flex flex-col" href="{{url_for('advisor.getAdvisorInfo')}}">
                  <button class="btn">View your advisors information</button>
                </a>
                <a class="flex flex-col" href="{{url_for('account.account')}}">
                  <button class="btn">Modify account info</button>
                </a>
            </div>
        </div>
        <!--INSTRUCTOR-->
        <!--------------------------------------------------------------------------------------------------------------------------------->
        {% elif session.role == 'Instructor' %}
        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 mb-2 text-center">Class Manager</h1>
            <div class="flex flex-col gap-4">
                <a class="flex flex-col" href="{{url_for('instructor.instructorGrades')}}">
                  <button class="btn">Edit Grades</button>
                </a>
                <a class="flex flex-col" href="{{url_for('instructor.edit_prereqs')}}">
                  <button class="btn">Modify Course Prereqs</button>
                </a>
                <a class="flex flex-col" href="{{url_for('instructor.editRosters')}}">
                  <button class="btn">View Class Rosters</button>
                </a>
                <a class="flex flex-col" href="{{url_for('instructor.assignedClasses')}}">
                  <button class="btn">Check Assigned Sections</button>
                </a>
            </div>
        </div>

        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 mb-2 text-center">Student Management</h1>
            <div class="flex flex-col gap-4">
                <a class="flex flex-col" href="{{url_for('advisor.modifyAdvisingRoster')}}">
                  <button class="btn">Modify Advising Roster</button>
                </a>
            </div>
        </div>

        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 mb-2 text-center">Account Management</h1>
            <div class="flex flex-col gap-4">
                <a class="flex flex-col" href="{{url_for('account.account')}}">
                  <button class="btn">Modify account info</button>
                </a>
            </div>
        </div>
        <!--ADMINISTRATOR-->
        <!--------------------------------------------------------------------------------------------------------------------------------->
        {% elif session.role == 'Administrator' %}
        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 mb-2 text-center">Administrative Actions</h1>
            <div class="flex flex-col gap-4">
              <a class="flex flex-col" href="{{url_for('course.edit_course')}}">
                <button class="btn">Edit Classes</button>
              </a>
              <a class="flex flex-col" href="{{url_for('section.edit_section')}}">
                <button class="btn">Edit Sections</button>
              </a>
              <a class="flex flex-col" href="{{url_for('classroom.edit_classroom')}}">
                <button class="btn">Edit Classrooms</button>
              </a>
              <a class="flex flex-col" href="{{url_for('department.edit_department')}}">
                <button class="btn">Edit Departments</button>
              </a>
              <a class="flex flex-col" href="{{url_for('time_slot.edit_time_slot')}}">
                <button class="btn">Edit Time Slots</button>
              </a>
              <a class="flex flex-col" href="{{url_for('instructor.edit_instructor')}}">
                <button class="btn">Edit Instructors</button>
              </a>
              <a class="flex flex-col" href="{{url_for('student.edit_student')}}">
                <button class="btn">Edit Students</button>
              </a>
            </div>
        </div>

        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 mb-2 text-center">Class Actions</h1>
            <div class="flex flex-col gap-4">
                <a class="flex flex-col" href="{{url_for('teaches.edit_teaches')}}">
                  <button class="btn">Modify Class Instructors</button>
                </a>
            </div>
        </div>

        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 mb-2 text-center">Account Management</h1>
            <div class="flex flex-col gap-4">
                <a class="flex flex-col" href="{{url_for('account.account')}}">
                  <button class="btn">Modify account info</button>
                </a>
            </div>
        </div>

        <!--SESSION EXPIRED-->
        <!--------------------------------------------------------------------------------------------------------------------------------->
        {% else %}
        <div class="h-full w-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
          <h1 class="font-bold text-2x1">Session expired, try logging back in</h1>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
