{% extends '/include/layout.html' %}
{% include '/include/navbar.html' %}
{% block content %}
<div class="h-full w-full bg-blue-200">
    <div class="grid grid-cols-3 gap-4 pl-4 pr-4">
        {% if session.role == 'Student' %}
    <!--Classes Card-->
    <!--Eventually need conditional rendering based on user type to show different cards-->
        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 underline underline-blue-600">Class Manager</h1>
            <div class="flex flex-col gap-4">
                <a class="text-blue-400 underline" href="">Register for classes</a>
                <a>Drop a Class</a>
                <a>View Final Grades</a>
                <a>Course Catalog</a>
            </div>
        </div>

        <div class="h-full border border-2 m-4 rounded-xl shadow-xl p-2 bg-gray-100">
            <h1 class="font-bold text-2xl text-blue-600 underline underline-blue-600">Account Management</h1>
            <div class="flex flex-col gap-4">
                <a class="text-blue-400 underline" href="">View your advisors information</a>
                <a>Modify account info</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}