{% extends '/include/layout.html' %}
{% include '/include/navbar.html' %}
{% block content %}
<div class="h-full w-full bg-blue-200">
    <div class="flex-col p-6">
        <h1 class=" font-bold text-2xl flex justify-center">Drop a Class</h1>
        <div class="border border-2 border-blue-300 rounded-xl overflow-hidden">
        <table class="w-full text-sm table-fixed">
            <thead class="bg-blue-100">
                <tr>
                    <th class="text-left px-4 py-3 text-blue-700 uppercase text-xs tracking-wide">Title:</th>
                    <th class="text-left px-4 py-3 text-blue-700 uppercase text-xs tracking-wide">Semester:</th>
                    <th class="text-left px-4 py-3 text-blue-700 uppercase text-xs tracking-wide">Year:</th>
                    <th class="text-left px-4 py-3 text-blue-700 uppercase text-xs tracking-wide">Credits:</th>
                    <th class="text-left px-4 py-3 text-blue-700 uppercase text-xs tracking-wide"></th>
                </tr>
            </thead>
            <tbody class="bg-gray-100">
                {% for class in enrolled %}
                    <tr class="border-t border-1 border-blue-100 hover:bg-sky-300">
                    {% for d in class %}
                        <td class="tracking-wide ml-2">{{d}}</td>
                    {% endfor %}
                    <td>
                        <form method="POST">
                            <input type="hidden" value="{{ class[3] }}" name="section_ID" id="section_ID">
                            <button type="submit" class="p-1 m-1 bg-blue-400 rounded-xl text-center font-bold border border-blue-600 border-2 hover:border-red-600 hover:bg-red-500 hover:cursor-pointer text-white">Drop Class</button>
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}