{% extends '/include/layout.html' %}
{% include '/include/navbar.html' %}
{% block content %}
<div class="h-full w-full bg-blue-200">
    <h1>Grades Across Classes</h1>
    {% for section in sections.values() %}
    <h2 class="font-bold text-2xl">{{ section.course }} {{section.semester}}, {{section.year}}</h2>
    <table class="w-full text-sm border-collapse table-fixed gap-4">
        <thead>
            <tr>
                <th>Student:</th>
                <th>Grade: </th>
            </tr>
        </thead>
        <tbody>
            {% for student in section.students %}
            <tr>
                <td> {{ student.first_name }} {{ student.last_name }}</td>
                <td>{{ student.grade }}</td>
                <td>
                <form method="POST">
                    <!--grades = ["A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D", "D-", "F"]
-->
                    <select name="newGrade">
                        <option value="A+">A+</option>
                        <option value="A">A</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B">B</option>
                        <option value="B-">B-</option>
                        <option value="C+">C+</option>
                        <option value="C">C</option>
                        <option value="C-">C-</option>
                        <option value="D+">D+</option>
                        <option value="D">D</option>
                        <option value="D-">D-</option>
                        <option value="F">F</option>
                    </select>
                    <input type="hidden" value="{{ section.section_ID}}" name="section_ID" id="section_ID">
                    <input type="hidden" value="{{ student.student_ID}}" name="student_ID" id="student_ID">
                    <input type="submit" text="overwrite" class="p-1 rounded-full bg-red-200 mb-1">
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>

{% endblock %}