{% extends '/include/layout.html' %}
{% include '/include/navbar.html' %}
{% block content %}
<div class="h-full w-full bg-blue-200">
    <h1 class="font-bold text-4xl">Class Rosters</h1>
    <form method="POST">
        <input type="hidden" name="action" value="filter">
        <label for="filterSemester">Semester: </label>
        <select name="filterSemester" id="filterSemester">
            <option value="" {% if selected_semester == '' %}selected{% endif %}>All Semesters</option>
            <option value="Fall" {% if selected_semester == 'Fall' %}selected{% endif %}>Fall</option>
            <option value="Summer" {% if selected_semester == 'Summer' %}selected{% endif %}>Summer</option>
            <option value="Spring" {% if selected_semester == 'Spring' %}selected{% endif %}>Spring</option>
            <option value="Winter" {% if selected_semester == 'Winter' %}selected{% endif %}>Winter</option>
        </select>

        <label for="filterYear">Year: </label>
        <select name="filterYear" id="filterYear">
            <option value="" {% if selected_year == '' %}selected{% endif %}>All Years</option>
            {% for year_option in years %}
            <option value="{{ year_option }}" {% if selected_year|string == year_option|string %}selected{% endif %}>
                {{ year_option }}
            </option>
            {% endfor %}
        </select>
        <button type="submit" class="p-1 m-1 bg-blue-400 rounded-xl text-center font-bold border border-blue-600 border-2 hover:border-red-600 hover:bg-red-500 hover:cursor-pointer text-white">Filter</button>
    </form>
    <div class="p-6 flex-col">
        {% for section in rosters.values() %}
        <div class="border border-2 border-blue-300 rounded-xl overflow-hidden bg-blue-100 mb-4">
            <h1 class="font-bold text-2xl">{{ section.class_title }} - {{ section.semester }} {{ section.year }}</h1>
            <table class="w-full text-sm table-fixed">
                <thead class="bg-blue-100">
                    <tr>
                        <th class="text-left px-4 py-3 text-blue-700 uppercase text-xs tracking-wide">Student</th>
                        <th class="text-left px-4 py-3 text-blue-700 uppercase text-xs tracking-wide">Grade</th>
                    </tr>
                </thead>
                <tbody class="bg-gray-100">
                    {% for student in section.students %}
                        <tr class="border-t border-1 border-blue-100 hover:bg-sky-300">
                            <td class="tracking-wide ml-2">{{ student.name }}</td>
                            <td class="racking-wide ml-2">{{ student.grade }}</td>
                            {% if section.year >= 2026 %}
                            <td>
                                <form method="POST">
                                    <input type="hidden" name="action" value="remove">
                                    <input type="hidden" name="student_ID" value="{{ student.ID }}">
                                    <input type="hidden" name="section_ID" value="{{ section.section_ID }}">
                                    <input type="submit">
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
