{% extends '/include/layout.html' %}
{% include '/include/navbar.html' %}
{% block content %}
<div class="h-full w-full bg-blue-200">
    <h1 class="font-bold text-4xl">Class Rosters</h1>
    <form method="POST">
        <input type="hidden" name="action" value="filter">
        <label for="filterSemester">Semester: </label>
        <select name="filterSemester" id="filterSemester">
            <option selected value="">All Semesters</option>
            <option value="Fall">Fall</option>
            <option value="Summer">Summer</option>
            <option value="Spring">Spring</option>
            <option value="Winter">Winter</option>
        </select>

        <label for="filterYear">Year: </label>
        <input type="number" name="filterYear" id="filterYear" placeholder="filter by year" value="">
        <button type="submit" class="p-1 m-1 bg-blue-400 rounded-xl text-center font-bold border border-blue-600 border-2 hover:border-red-600 hover:bg-red-500 hover:cursor-pointer text-white">Filter</button>
    </form>
    <div class="p-6 flex-col">
        {% for section in rosters.values() %}
        <div class="border border-2 border-blue-300 rounded-xl overflow-hidden bg-blue-100 mb-4">
            <h1 class="font-bold text-2xl">{{ section.class_title }}</h1>
            <table class="w-full text-sm table-fixed">
                <thead class="bg-blue-100">
                    <tr>
                        <th class="text-left px-4 py-3 text-blue-700 uppercase text-xs tracking-wide">Student</th>
                        <th class="text-left px-4 py-3 text-blue-700 uppercase text-xs tracking-wide">Grade</th>
                    </tr>
                </thead>
                <tbody class="bg-gray-100">
                    {% for student in section.students %}
                        <tr class="border-t border-1 border-blue-100 hover:bg-sky-300">
                            <td class="tracking-wide ml-2">{{ student.name }}</td>
                            <td class="racking-wide ml-2">{{ student.grade }}</td>
                            {% if section.year >= 2026 %}
                            <td>
                                <form method="POST">
                                    <input type="hidden" name="action" value="remove">
                                    <input type="hidden" name="student_ID" value="{{ student.ID }}">
                                    <input type="hidden" name="section_ID" value="{{ section.section_ID }}">
                                    <input type="submit">
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}