{% extends '/include/layout.html' %}
{% include '/include/navbar.html' %}
{% block content %}
<div class="h-full w-full bg-blue-200">
    {% if classes %}
    <table class="w-full text-sm border-collapse table-fixed gap-4">
        <thead>
            <tr>
                <th>Course:</th>
                <th>Instructor:</th>
                <th>Year:</th>
                <th>Semester:</th>
                <th>Building:</th>
                <th>TimeSlot:</th>
            </tr>
        </thead>
        <tbody>
            {% for section in classes.values() %}
            <tr>
                <td>{{ section.class }}</td>
                <td>{{ section.name }}</td>
                <td>{{ section.year }}</td>
                <td>{{ section.semester }}</td>
                <td>{{ section.building }}</td>
                <td>{{ section.timeslot }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}