{% extends "index.html" %}
{% block content %}
<body>
    <!--Signup Card-->
    <div class="flex flex-col gap-4 items-center justify-center min-h-screen bg-gray-100">
        <h1 class="text-4xl text-blue-600 font-bold">WaterFall</h1>
        <div class="flex flex-col p-8 rounded-xl bg-white w-full max-w-md ">
            <h1 class="text-center font-bold text-2xl">Sign Up</h1>
            <!--Login Form-->
            <form class="flex justify-center flex-col w-full" method="POST">
                <label for="username" class="font-semibold text-md">Username: </label>
                <input type="text" id="username" name="username" class="border rounded-lg border-2 border-gray-400 mb-4">

                <label for="password" class="font-semibold text-md">Password: </label>
                <input type="password" id="password" name="password" class="border rounded-lg border-2 border-gray-400 mb-4">

                <label for="confirmPassword" class="font-semibold text-md">Confirm Password: </label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="border rounded-lg border-2 border-gray-400 mb-4">

                <label for="firstName" class="font-semibold text-md">First Name: </label>
                <input type="text" id="firstName" name="firstName" class="border rounded-lg border-2 border-gray-400 mb-4">

                <label for="lastName" class="font-semibold text-md">Last Name: </label>
                <input type="text" id="lastName" name="lastName" class="border rounded-lg border-2 border-gray-400 mb-4">

                <input type="submit" class="self-center rounded-lg w-32 max-w-32 text-gray-50 bg-blue-600 cursor-pointer scale-100 transition-all duration-300 hover:bg-blue-400 hover:scale-105">
            </form>
            <p class="text-xs">Or click <a class="text-sky-400" href="/">here</a> to login</p>
        </div>
    </div>
</body>
{% endblock %}