{% extends '/include/layout.html' %}
{% block content %}
    <body>
        <h1>Student Search</h1>
        <form method="POST" class=student-search>
            <div class=student-search>
                <input name="first" placeholder="First Name" value="{{first}}"></input>
                <input name="last" placeholder="Last Name" value="{{last}}"></input>
            </div>
            <div class=student-search>
                <input name="id" placeholder="ID" value="{{id}}"></input>
                <input type="submit" value="Submit">
            </div>
        </form>
        <table>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department Name</th>
                <th>Total Credit</th>
                <th>Schedule</th>
            </tr>
            {% for row in students %}
            <tr>
                {% for column in row %}
                <td>{{ column|e }}</td>
                {% endfor %}
                <td>
                    <button>Schedule</button>
                </td>
            {% endfor %}
        </table>
    </body>
{% endblock %}